/* 모바일 화면 사이즈 */
@media (max-width:767px){
    * {margin: 0; padding: 0; box-sizing: border-box;}
    li {list-style-type: none;}
    a {text-decoration: none;}
    #skip, .skip{font-size: 0; width: 0; height: 0; line-height: 0; position: absolute; left: -9999px; }
    /*기본 세팅*/

    header {
        position: absolute; background-color: rgba(0, 0, 0, 0.74);
        width: 100%; padding: 12px 0; z-index: 40; position: fixed;
    }

    #main_menu {display: flex; width: 100%; margin: 0 auto; justify-content: space-between; position: relative; align-items: center;}
    #main_menu h1 {margin: 0 30px;}
    #main_menu h1 > a > img {width: 60%;}
    #main_menu .all_list {font-size: 35px; display: inline-block; padding: 14px; cursor: pointer; border-radius: 10px; color: rgb(156, 156, 156); margin: 0 20px;}
    #main_menu .main_menu_list {position: absolute; right: 0; top: 76px; z-index: 40; background-color: rgb(0, 0, 0); width: 100%;  border-top: 3px solid yellowgreen; display: none;}
    #main_menu .main_menu_list .mml {display: flex; margin: 10px 0; padding-left: 12px;  border-bottom: 1px solid rgb(156, 156, 156); padding-bottom: 15px;}
    #main_menu .main_menu_list .mml:nth-child(5) {margin-bottom: 0;}
    #main_menu .main_menu_list .mml>a {color: rgb(255, 255, 255); display: inline-block; font-size: 14px; font-weight: bold;}
    #main_menu .main_menu_list .mml .sub_menu {width: 80%; margin-left: 2.5%; display: block !important;}
    #main_menu .main_menu_list .mml .sub_menu>li {margin: 0 2%; line-height: 18px; float: left;}
    #main_menu .main_menu_list .mml .sub_menu::after {content: ""; display: block; clear: both;}
    #main_menu .main_menu_list .mml .sub_menu>li>a {color: rgb(156, 156, 156); font-size: 14px; display: inline-block;}
    #main_menu .main_menu_list .mml:first-child .sub_menu>li>a {display: inline-block; white-space: nowrap;}
    #main_menu .main_menu_list .all_list_close {background-color: rgb(156, 156, 156); text-align: center; padding: 1px 0 4px 0;}
    #main_menu .main_menu_list .all_list_close a {color: rgb(0, 0, 0); font-size: 14px; display: inline-block; width: 100%;}
    #main_menu .main_menu_list .all_list_close a i {font-size: 14px; margin: 0 10px;}
    /*메인메뉴*/

    #slides {width: 100%; overflow: hidden; position: relative; z-index: 30; }
    .slide_container {height: 650px; display: flex; justify-content: center; width: 300%; position: relative;}
    .slide_container>div {padding-bottom: 70px;}

    @keyframes movement {
        from {opacity: 0; transform: translateX(-100px);}
        to {opacity: 1; transform: translateX(0);}
    }
    /*좌에서 우로 애니메이션*/
    /* animation: movement 1s ease-in-out forwards; 
       animation: movement 1.3s ease-in-out forwards; 
       animation: movement 1.6s ease-in-out forwards;
    */

    /* 슬라이드 시작 */
    section#slideSection {
        position: relative;
        width: 100%;        
    }

    section#slideSection > ul.slider {
        list-style: none;
        overflow: hidden;      
        height: 120vw;
        position: relative;
        width: 100%;
    }

    section#slideSection > ul.slider > li {      
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120vw;    
        opacity: 0;
    }

    section#slideSection > ul.slider > li > div {      
        width: 100%;
        height: 100%;
    }

    section#slideSection > ul.slider > li > div.firstSlide {      
        background-image: url("../images/slide_image/slide_1.jpg");
        background-position: 55% 45%;
        background-size: cover;
        position: relative;
    }

    section#slideSection > ul.slider > li > div.secondSlide {      
        background-image: url("../images/slide_image/slide_2.jpg");
        background-position: 25% 45%;
        background-size: cover;
        position: relative;
    }

    section#slideSection > ul.slider > li > div.thirdSlide {      
        background-image: url("../images/slide_image/slide_3.jpg");
        background-position: 40% 45%;
        background-size: cover;
        position: relative;
    }

    section#slideSection > ul.slider > li > div > div.slideContent {
        position: absolute;  
        background-color: rgba(0, 0, 0, 0.6);
        width: 70%;
        color: white;
        top: 19%;
        left: 15%;
        padding: 60px 0 40px 9.5vw;  
    }

    section#slideSection > ul.slider > li > div > div.slideContent:last-child > h2 {
        width: 78%;     
    }

    section#slideSection > ul.slider > li > div > div > h2 {
        color: white;
        font-size: 7.5vw;
        margin-bottom: 20px;
    }

    section#slideSection > ul.slider > li > div > div > h2 > span {
        color: greenyellow;
    }

    section#slideSection > ul.slider > li > div > div > p {
        color: white;
        font-size: 2.5vw;
        margin-bottom: 30px;
        line-height: 1.8;
        width: 80%;  
    }

    section#slideSection > ul.slider > li > div > div > a {
        display: inline-block;
        color: black;
        background-color: greenyellow;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 30px;
        font-size: 3vw;
        text-decoration: none;  
    }    

    section#slideSection > div.btn {
        position: absolute;
        top: 50%;    
        left: 0%;
        width: 100%;    
        display: flex;
        justify-content: space-between;      
    }

    section#slideSection > div.btn > button {
        font-size: 75px;
        background: none;    
        color: gray;
        display: inline-block;
        border: none;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.6);  
    }

    section#slideSection > div.slide_bullet > div.bullet {display: none;}    
    /*슬라이드 섹션 끝*/

    #services {margin-bottom: 80px; padding-top: 80px;}
    .services_container {width: 70%; margin: 0 auto;}
    .services_container .services_bar {text-align: center; margin-bottom: 40px;}
    .services_container .services_bar>p {font-size: 14px; margin-top: 5px; color: rgb(53, 53, 53);}
    /*제공 서비스 상단*/
    .services_container .services_contents {width: 100%;}
    .services_container .services_contents>div {box-shadow: 5px 5px 9px -8px gray; margin-bottom: 30px;}
    .services_container .services_contents>div:hover {border: 1px solid rgb(34, 123, 238); box-sizing: border-box;}
    .services_container .services_contents .sc_wrap {display: flex; flex-direction: column;}
    .services_container .services_contents .sc_wrap .smr {text-align: center; padding: 20px 10px; background-color: white;}
    .services_container .services_contents .sc_wrap .smr h3 {margin-bottom: 10px; font-size: 20px;}
    .services_container .services_contents .sc_wrap .smr a {color: black; margin: 15px 0 8px; display: inline-block; font-size: 14px; background-color: yellowgreen; font-weight: bold; padding: 6px 15px;}
    .services_container .services_contents .sc_wrap .smr a:hover {color: white; background-color: rgb(34, 123, 238); transition-duration: 200ms;}
    /*제공하는 서비스 섹션 끝*/

    .tab_bar {width: 60%; margin: 0 auto 40px; text-align: center;}
    .tab_bar > p {font-size: 14px; margin-top: 5px; color: rgb(53, 53, 53);}

    #tab {width: 100%; padding-bottom: 70px;}
    .tab_section {width: 90%; margin: 0 auto;}
    .tab_section .tab_container {display: flex; margin-bottom: 15px; width: 100%; padding-left: 15px;}
    .tab_section .tab_container .tab {margin-right:15px;}
    .tab_section .tab_container .tab a {color: black; display: inline-block; background-color: rgb(190, 190, 190); padding: 8px 20px; border-radius: 40px;}
    .tab_section .tab_container .tab:first-child a {color: white; background-color: yellowgreen;} 
    /*탭 버튼 (공지사항 & 갤러리)*/

    .tab_section .tab_container_2 .tab_section_first {position: relative; padding-bottom: 4px;}
    .tab_section .tab_container_2 .tab_section_first .notice_list {background-color: rgb(238, 238, 238); padding: 21px 20px 5px;}
    .tab_section .tab_container_2 .tab_section_first .notice_list>li {margin-bottom: 13px;}
    .tab_section .tab_container_2 .tab_section_first .notice_list>li::after {content: ""; display: block; background-color: rgb(185, 185, 185); height: 1px; margin-top: 5px;}
    .tab_section .tab_container_2 .tab_section_first .notice_list li:first-child span {text-align: center; font-weight: bold;}
    .tab_section .tab_container_2 .tab_section_first .notice_list li strong {width: 70%; display: inline-block; text-align: center; font-size: 14px;}
    .tab_section .tab_container_2 .tab_section_first .notice_list a {color: rgb(85, 84, 84); font-size: 14px; display: inline-block; width: 70%; text-align: center; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
    .tab_section .tab_container_2 .tab_section_first .notice_list a:hover {text-decoration: underline;}
    .tab_section .tab_container_2 .tab_section_first .notice_list span:first-child {font-size: 14px; width: 10%; display: inline-block; text-align: center; margin-right: 10px;}
    .tab_section .tab_container_2 .tab_section_first .notice_list span:last-child {font-size: 14px; width: 10%; display: inline-block; text-align: center; white-space: nowrap;}
    /*공지사항*/

    .tab_section .tab_container_2 .tab_section_second {position: relative; display: none; height: 398px;}
    .tab_section .tab_container_2 .tab_section_second .tst_content {display: flex; flex-wrap: wrap; justify-content: center; }
    .tab_section .tab_container_2 .tab_section_second .tst_content a {filter: brightness(80%); border: 1px solid rgb(179, 179, 179); width: 46.1%;}
    .tab_section .tab_container_2 .tab_section_second .tst_content a:first-child {margin-bottom: 8px; margin-right: 8px;}
    .tab_section .tab_container_2 .tab_section_second .tst_content a:nth-child(2) {margin-bottom: 8px;}
    .tab_section .tab_container_2 .tab_section_second .tst_content a:nth-child(3) {margin-right: 8px;}
    .tab_section .tab_container_2 .tab_section_second .tst_content a:hover {filter: brightness(100%); transition-duration: 300ms;}
    .tab_section .tab_container_2 .tab_section_second .tst_content a img {height: 100%; width: 100%;}
    /*갤러리*/

    .tab_section .tab_section_first>a { position: absolute; top: -34px; right: 20px;}
    .tab_section .tab_section_first>a i {color: rgb(53, 53, 53);}
    .tab_section .tab_section_second>a { position: absolute; top: -34px; right: 20px;}
    .tab_section .tab_section_second>a i {color: rgb(53, 53, 53);}
    /*더보기(+) 버튼*/

    #tab .recruit {padding-top: 51px; margin: 0 auto; width: 80%;}
    #tab .recruit img {border: 1px solid rgb(179, 179, 179);}
    /*채용 공고 이미지*/
    /*탭 섹션 끝*/

    #partner {margin: 12px 0 90px; }
    #partner .partner_container {width: 100%; margin: 0 auto;}
    #partner .partner_container .partner_bar {text-align: center; margin-bottom: 40px;}
    #partner .partner_container .partner_bar p{font-size: 14px; margin-top: 5px; color: rgb(53, 53, 53);}
    #partner .partner_container .partner_content {display: flex; justify-content: space-around;}
    #partner .partner_container .partner_content>div {margin: 0 20px}
    #partner .partner_container .partner_content>div a {filter: grayscale(100%);}
    #partner .partner_container .partner_content>div a img {width: 100%;}
    #partner .partner_container .partner_content>div a:hover {filter: grayscale(0%); transition-duration: 200ms;}
    /*협력업체 끝*/

    footer .footer_top {background-color: rgba(0, 0, 0, 0.74); padding: 15px 0; position: relative;}
    footer .footer_top .footer_top_content .ftc_container {width: 100%; padding-left: 10%;}
    footer .footer_top .footer_top_content .ftc_container .footer_top_logo {display: none;}
    
    footer .footer_top .footer_top_content .ftc_container .footer_top_smr {padding-bottom: 20px; width: 85%; margin-right: 20px;} 
    footer .footer_top .footer_top_content .ftc_container .footer_top_smr p:first-child {display: none;}
    footer .footer_top .footer_top_content .ftc_container .footer_top_smr p {font-size: 14px; color: rgb(149, 149, 149); word-break: keep-all;}
    
    footer .footer_top .footer_top_content .ftc_container .footer_top_sns {display: flex; position: absolute; right: 42px; top: 50px;}
    footer .footer_top .footer_top_content .ftc_container .footer_top_sns a {margin: 0 2px}
    footer .footer_top .footer_top_content .ftc_container .footer_top_sns i {font-size: 40px; color: rgb(149, 149, 149);}
    footer .footer_top .footer_top_content .ftc_container .footer_top_sns i:hover {color: white; transition-duration: 200ms;}

    footer .footer_bottom {background-color: rgb(0, 0, 0); text-align: center; padding: 12px 0;}
    footer .footer_bottom p {color: rgb(149, 149, 149); font-size: 14px;}
    /*footer 끝*/

    .quick_menu {display: none;}
    /*사이드 메뉴*/
}